.modal
    position: fixed
    top: 0
    left: 0
    display: none
    width: 100%
    height: 100%
    background-color: #00000081
    &_active
        display: flex
        justify-content: center
        align-items: center
    &-item
        position: relative
        display: flex
        flex-direction: column
        align-items: center
        width: 380px
        padding: 38px 0 40px 
        color: #0d0d0d
        background-color: #f2f2f2
        &::after
            content: "\274C"
            position: absolute
            top: 0 
            right: -40px
            font-size: 21px
            width: 21px
            height: 21px
            line-height: 21px
    &__title
        font-size: 19px
        line-height: 19px
        font-weight: 700
        margin: 0
    &__subtitle
        font-size: 14px
        line-height: 14px
        font-weight: 500
        margin-top: 11px
    form
        margin-top: 25px
    &__button
        width: 100%
        height: 55px
